/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* button
------------------------- */

.button {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1) );
  border: 1px solid #CCC;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
}

.button.is-checked,
.button.is-selected {
  background-color: #19F;
  color: white;
}

.button:active {
  color: white;
  background-color: #59F;
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* hide radio inputs */
.button input[type="radio"] { display: none; }

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: -1px;
}

.button-group .button:first-child { border-radius: 5px 0 0 5px; }
.button-group .button:last-child { border-radius: 0 5px 5px 0; }

/* buy-button
------------------------- */

.buy-button {
  display: block;
  margin-bottom: 10px;
  line-height: 1.3rem;
  border-radius: 8px;
  padding: 10px 100px 10px 10px;
  position: relative;
  text-align: center;
}

.buy-button__project,
.buy-button__title,
.buy-button__license {
}

.buy-button__title {
  font-weight: bold;
}

.buy-button__for {
  display: block;
  font-style: italic;
}

.buy-button__price {
  font-size: 1.6rem;
  background: #888;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  border-radius: 0 8px 8px 0;
  text-align: center;
  line-height: 64px;
}

.buy-button__price__dollar {
  font-size: 1.4rem;
  margin-right: 3px;
  vertical-align: top;
}

@media screen and (min-width: 768px) {

  /* ---- buy-button-trio ---- */

  .buy-button-trio {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .buy-button-trio:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- buy-button-trio buy-button ---- */

  .buy-button-trio .buy-button {
    float: left;
    width: 31.33%;
    margin-right: 3%;
  }

  .buy-button-trio .buy-button:nth-child(3) {
    margin-right: 0;
  }

  .buy-button-trio .buy-button {
    transition: transform 0.2s;
    padding: 20px 0 0;
  }

  .buy-button-trio .buy-button > span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .buy-button-trio .buy-button__project,
  .buy-button-trio .buy-button__license {
    font-size: 1.1rem;
  }

  .buy-button-trio .buy-button__title {
    font-size: 1.9rem;
    line-height: 1.2;
  }

  .buy-button-trio .buy-button__license {
    margin-bottom: 15px;
  }

  .buy-button-trio .buy-button__for {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }

  .buy-button-trio .buy-button__price {
    position: relative;
    width: auto;
    font-size: 2.4rem;
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 0 0 8px 8px;
  }

  .buy-button-trio .buy-button__was-price {
    display: block;
    padding-bottom: 10px;
  }

  .buy-button-trio .buy-button__price__dollar {
    position: relative;
    top: 8px;
  }


  .buy-button-trio .buy-button:hover {
    transform: translateY(-5px);
  }

}

/* commercial-license-agreement
------------------------- */

.commercial-license-agreement h3 {
  counter-increment: cla-h3;
  counter-reset: cla-part;
}

.commercial-license-agreement h3:before {
  content: counter(cla-h3) '.';
  margin-right: 0.25rem;
  color: #888;
  font-family: 'Texta', sans-serif;
}

.cla__part {
  counter-increment: cla-part;
}

.cla__part:before,
.cla__definitions-list li:before {
  content: counter(cla-h3) '.' counter(cla-part) '.';
  color: #888;
  margin-right: 0.25rem;
}

.cla__definitions-list {
  list-style: none;
  padding-left: 2.6rem;
}

.cla__definitions-list li {
  text-indent: -1.5rem;
  margin-bottom: 0.5rem;
  counter-increment: cla-definitions-item;
}

.cla__definitions-list li:before {
  content: counter(cla-h3) '.' counter(cla-definitions-item) '.';
}

/* duo
two columns for large devices
------------------------- */

.duo:after {
  content: '';
  display: block;
  clear: both;
}

.duo__cell {
  margin-bottom: 10px;
}

/* --- duo--legal --- */


.duo--legal__plain {
  padding: 0 0.8rem;
  background: #FAFAFA;
  color: #888;
}

.duo--legal--first .duo--legal__official:before,
.duo--legal--first .duo--legal__plain:before {
  display: block;
  padding-top: 0.5rem;
  font-size: 0.88rem;
  color: #888;
}

.duo--legal--first .duo--legal__official:before {
  content: 'Official legal copy'
}

.duo--legal--first  .duo--legal__plain:before {
  content: 'Plain English'
}


@media screen and ( min-width: 768px ) {

  .duo__cell {
    float: left;
    width: 48.5%;
  }

  .duo__cell:first-child {
    margin-right: 3%;
  }

  .duo__cell--license-option p { margin-top: 0; }

}

/* fizzy-bear-shirt
------------------------- */

.fizzy-bear-shirt {
  margin: 40px 0;
}

.fizzy-bear-shirt__title {
  font-size: 1.6rem;
}

.fizzy-bear-shirt__image {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

/* metafizzy-brand
------------------------- */

.metafizzy-logo {
  width: 60px;
  height: auto;
}

.metafizzy-wordmark {
  width: 200px;
  height: auto;
}

/* showcase-item
------------------------- */

.showcase-item__link {
  display: block;
  padding: 10px;
  background: white;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #DDD;
}

.showcase-item__link:after {
  content: '';
  display: block;
  clear: both;
}

.showcase-item__image {
  width: 80px;
  float: left;
  display: block;
}

.showcase-item__image svg {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.showcase-item__text {
  float: left;
  width: calc( 100% - 120px );
  padding-left: 10px;
}

.showcase-item__title {
  margin: 0;
  font-size: 1.4rem;
}

.showcase-item__description {
  margin: 0;
}

@media screen and ( min-width: 768px ) {

  .showcase-item {
    float: left;
    width: 48.5%;
  }

  .showcase-item:nth-child(2n+1) {
    margin-right: 3%;
  }

  .showcase-item__image {
    width: 120px;
  }

  .showcase-item__text {
    padding-left: 20px;
  }

  .showcase-item__title {
    font-size: 2.0rem;
  }

  .showcase-item__description {
    font-size: 1.2rem;
    line-height: 1.2;
  }

}

/* showcase
------------------------- */

.showcase-item-list {
  padding: 0;
  list-style: none;
}

.showcase-item-list:after {
  content: '';
  display: block;
  clear: both;
}

/* site-footer
------------------------- */

.site-footer {
  padding: 40px 0;
  margin-top: 60px;
}

.site-footer__copy {
  font-size: 1.2rem;
}

.site-footer .twitter-logo {
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
}

/* flickity-illo
------------------------- */

.flickity-illo { background: #ED0; }

/* isotope-illo
------------------------- */

.isotope-illo { background: #222; }

/*

COLORS

dark brown #262524
dark dark brown #161615
link orange #FB4
blue #4BF
green #1FB


*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* font-size on html for rem*/
html {
  font-family: Texta, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

html.export {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  color: #EEE;
  background: #262524;
}

/* ---- links ---- */

a,
a code {
  color: #FB4;
  text-decoration: none;
}

a:hover,
a:hover code {
  color: #4BF;
}

a:active,
a:active code {
  color: #1FB;
  background: #161615;
}

/* ---- headers ---- */

h1, h2, h3, h4 {
  line-height: 1.25;
}

h1 {
  font-weight: bold;
  font-size: 2.65em;
  margin-bottom: 0.2em;
  margin-top: 2.0em;
}

h1:first-child { margin-top: 0; }

h2 {
  font-weight: bold;
}

h3 {
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 2.0em;
  margin-bottom: 0.8em;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

/* ---- lists ---- */

ul, ol {
  padding-left: 1.8em;
}

/* ---- code ---- */

pre, code {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  background: #161615;
  color: white;
}

pre {
  padding: 0.8em;
  border-radius: 5px;
  white-space: pre-wrap;
}

code {
  padding: 0.2em 0.3em;
  line-height: 1.2;
  border-radius: 3px;
}

pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
}

a code {
  background: #A2C;
  color: white;
}

a:hover code {
  color: white;
  background: #D26;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

@media screen and ( min-width: 768px ) {

  html {
    font-size: 19px;
  }

  html.export { font-size: 16px; }

  pre, code, kbd {
    font-size: 15px;
  }

}

/* Code
------------------------- */



code .string,
code .tag .value { color: #0C4; }
code .number, /* integer */
code .cp, /* doctype */
code .literal { color: #38F; } /*boolean*/
code .keyword { color: #F73; } /* keyword */
code .kd, /* storage */
code .attribute { color: #DC8; } /* markup attribute */
code .title { color: #9CF; }
code .params { color: #98D; }
code .regexp  { color: #FC8; } /* regex */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */
code .built_in { color: #DD8; }

/* comment */
code .comment { color: #999; font-style: italic; }

code .tag { color: #6CF; } /* Markup open tag */

code .id { color: #ABC; } /* css id */
code .class,
code .selector-class { color: #C95; }  /* CSS class */
code .rules { color: #FED; }
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */
code .hexcolor { color: #F63; }
code .at_rule { color: #088; }


/* isotope keywords */
code .isotope_var { color: #F3F; }
code .jquery_var { color: #DF8; }
code .isotope_keyword { color: #0FF; text-decoration: underline; }

.code-display code {
  font-size: 18px;
}

/* web fonts
------------------------- */

/*@import url("//hello.myfonts.net/count/2d333f");*/

/*
  Just use WOFF2 and WOFF for webfonts
  http://css-tricks.com/snippets/css/using-font-face/ */

/* Texta Heavy */
@font-face {
  font-family: 'Texta';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/2D333F_0_0.woff2') format('woff2'),
    url('../fonts/2D333F_0_0.woff') format('woff');
}

/* Texta Italic */
@font-face {
  font-family: 'Texta';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/2D333F_1_0.woff2') format('woff2'),
    url('../fonts/2D333F_1_0.woff') format('woff');
}

/* Texta Regular */
@font-face {
  font-family: 'Texta';
  src: url('../fonts/2D333F_2_0.woff2') format('woff2'),
    url('../fonts/2D333F_2_0.woff') format('woff');
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-file-download:before {
	content: "\e001";
}
.icon-folder-download:before {
	content: "\e002";
}
.icon-github:before {
	content: "\e000";
}

/* main
------------------------- */

.main h1 {
  font-size: 3.8rem;
}

.main h2 {
  font-size: 1.6rem;
  font-weight: normal;
  border-top: 2px solid #484542;
  padding-top: 1.1em;
  margin-top: 1.4em;
}

.main h2:target {
  padding-left: 0.5em;
  background: #D26;
  color: white;
}

.main h3 {
  font-size: 1.3rem;
  border-top: 1px solid #484542;
  padding-top: 0.8em;
  margin: 1.4em 0 0.5em;
}


@media screen and ( min-width: 800px ) {

  .main {
    padding-top: 20px;
    min-height: 540px; /* space so footer doesn't overlap */
  }

  .main h2 {
    font-size: 2.4rem;
  }

  .main h3 {
    font-size: 1.5rem;
    padding-top: 30px;
  }


}


/* ---- instruction ---- */

.instruction {
  font-size: 18px;
  margin-bottom: 0.2em;
  color: #888;
}

/* ---- notification ---- */

/* animate-item-size-item
------------------------- */

.animate-item-size-item {
  float: left;
}

/* animate-item-size-item is invisible, but used for layout */
.animate-item-size-item,
.animate-item-size-item__content {
  width: 60px;
  height: 60px;
}

/* animate-item-size-item__content is visible, and transitions size */
.animate-item-size-item__content {
  background: #8DF;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.animate-item-size-item:hover .animate-item-size-item__content {
  border-color: white;
  background: #4BF;
  cursor: pointer;
}

/* both animate-item-size-item and animate-item-size-item content change size */
.animate-item-size-item.is-expanded,
.animate-item-size-item.is-expanded .animate-item-size-item__content {
  width: 180px;
  height: 120px;
}

.animate-item-size-item.is-expanded {
  z-index: 2;
}

.animate-item-size-item.is-expanded .animate-item-size-item__content {
  background: #F90;
}

/* ---- responsive ---- */

.grid--animate-item-size-responsive .animate-item-size-item,
.grid--animate-item-size-responsive .grid-sizer {
  width: 20%;
}

.grid--animate-item-size-responsive .animate-item-size-item__content,
.grid--animate-item-size-responsive .animate-item-size-item.is-expanded .animate-item-size-item__content {
  width: 100%;
  height: 100%;
}

/* item has expanded size */
.grid--animate-item-size-responsive .animate-item-size-item.is-expanded {
  width: 60%;
}

/* bootstrap 3
------------------------- */

.bootstrap-3__container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bootstrap-3__col-xs-4,
.bootstrap-3__col-xs-6,
.bootstrap-3__col-xs-8,
.bootstrap-3__col-xs-12 {
  padding-right: 15px;
  padding-left: 15px;
}

.bootstrap-3__col-xs-4 { width: 33.333%; }
.bootstrap-3__col-xs-6 { width: 50%; }
.bootstrap-3__col-xs-8 { width: 66.666%; }

.bootstrap-3__grid-item-content {
  height: 100px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
  border-color: hsla(0, 0%, 0%, 0.4);
}

.bootstrap-3__grid-item-content--height2 { height: 200px; }

/* sm */
@media (min-width: 768px) {
  .bootstrap-3__col-sm-4 { width: 33.333%; }
  .bootstrap-3__col-sm-8 { width: 66.666%; }
}

/* md */
@media (min-width: 992px) {
  .bootstrap-3__col-md-3 { width: 25%; }
  .bootstrap-3__col-md-6 { width: 50%; }
}

/* call out
------------------------- */

.call-out {
  border-top: 2px solid #FB4;
  border-bottom: 2px solid #FB4;
  padding-left: 40px;
  position: relative;
  margin: 20px 0;
}

/* (i) */
.call-out:before {
  content: 'i';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 20px;
  background: #FB4;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-family: Consolas, Georgia, serif;
  font-style: italic;
}

.call-out h2 {
  margin-top: 0;
  padding-top: 10px;
  border-top: none;
}

.call-out--chill { border-color: #1FB; }
.call-out--chill:before { background: #1FB; }

@media screen and (min-width: 768px) {

  .call-out {
    border: 2px solid #FB4;
    padding: 10px 20px 10px 80px;
    border-radius: 6px;
    position: relative;
    margin: 20px 0;
  }

  .call-out--chill { border-color: #1FB; }

  .call-out:before {
    width: 40px;
    height: 40px;
    left: 20px;
    top: 30px;
    font-size: 1.9em;
    line-height: 46px;
  }

}

/* container
------------------------- */

.container {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1200px;
}

.main .container > * {
  max-width: 700px;
}

.main .container .go-wide,
.main .container .example {
  max-width: none;
}

/* tablet-ish */
@media screen and ( min-width: 768px ) {

  .container {
    margin-left: 220px;
  }

  .main .container > * {
    max-width: 900px;
  }

}

/* desktop */
@media screen and ( min-width: 960px ) {

  .container {
    margin-right: 6%;
  }

}

/* edit-demo
------------------------- */

.edit-demo {
  clear: both;
  font-size: 0.92em;
}

/* element-item
------------------------- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 0.8em;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 0.8em;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }

/* button overwrites
------------------------- */

.button {
  border-color: #222;
}

/* buy-button
------------------------- */

.buy-button {
  background: #161514;
  color: #1FB;
}

.buy-button__price {
  background: #1BF;
}

.buy-button:hover .buy-button__price {
  background: #1FB;
}

/* 
------------------------- */

.duo--legal__plain {
  background: #161514;
  border-radius: 5px;
  color: #AAA;
}

/* showcase overwrites
------------------------- */

.showcase-item__link {
  background: #262524;
  color: #4BF;
}

.showcase-item__link:hover {
  background: #1FB;
  color: #262524;
}

.showcase-item__title { font-weight: bold; }

.huebee-illo__line { stroke: white; }

/* site-footer overwrites
------------------------- */

.site-footer {
  background: #161514;
  position: relative;
}


.fizzy-bear-shirt__link {
  padding: 10px;
  border-radius: 8px;
  background: #262524;
  color: #4BF;
  display: block;
}

.fizzy-bear-shirt__link:hover {
  background: #1FB;
  color: #262524;
}

.fizzy-bear-shirt__title {
  margin-top: 0;
  font-weight: bold;
}

.fizzy-bear-shirt__image { border-radius: 5px; }

.site-footer .twitter-logo { fill: #FB4; }
.site-footer a:hover .twitter-logo { fill: #1BF; }


/* ----  ---- */

.site-footer .metafizzy-wordmark path { fill: #1BF; }

.site-footer .metafizzy-logo__stripe1,
.site-footer .metafizzy-logo__stripe2,
.site-footer .metafizzy-logo__stripe3,
.site-footer .metafizzy-logo__stripe4 { fill: #1BF; }

.site-footer a:hover .metafizzy-wordmark path { fill: white; }

.site-footer a:hover .metafizzy-logo__stripe1 { fill: #C25; }
.site-footer a:hover .metafizzy-logo__stripe2 { fill: #E62; }
.site-footer a:hover .metafizzy-logo__stripe3 { fill: #EA0; }
.site-footer a:hover .metafizzy-logo__stripe4 { fill: #19F; }

/* gh-button
------------------------- */

.gh-button {
  display: inline-block;
  background: none;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

.gh-button__title,
.gh-button__stat {
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
}

.gh-button__icon {
  height: 21px;
  fill: #333;
  display: inline-block;
  vertical-align: bottom;
}

.gh-button__title {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-radius: 4px 0 0 4px;
}

.gh-button__icon--github-logo {
  margin-right: 0.2em;
}

.gh-button__stat {
  border-left: 0;
  border-radius: 0 4px 4px 0;
  background: white;
}

.gh-button:hover { color: #333; }

.gh-button:hover .gh-button__title {
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
}

.gh-button:hover .gh-button__stat {
  color: #4078c0;
}

.gh-button:hover .gh-button__icon--star {
  fill: #4078c0;
}

/* grid
------------------------- */

.grid {
  border: 2px solid #484542;
  background: hsla(0, 0%, 0%, 0.15);
  position: relative;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- counting ---- */

.grid--counting {
  counter-reset: item;
}

.grid--counting .grid-item:before {
  counter-increment: item;
  content: counter(item);
  display: block;
  color: #555;
  padding-top: 0.2em;
  text-align: center;
  font-size: 18px;
}

/* ---- horizontal ---- */

/* horizontal examples need height */
.grid--horizontal {
  height: 334px;
}

/* ---- static banner ---- */

.grid--has-banner {
  position: relative;
}

.static-banner {
  position: absolute;
  left: 10px;
  top: 10px;
  background: hsla(210, 100%, 50%, 0.8);
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

/* ---- fixed-width ---- */

.grid--fixed-width {
  width: 304px;
}

/* ---- stamp ---- */

.grid--has-stamp {
  position: relative;
}

/* ---- fit-width ---- */

/* centered */
.grid--fit-width {
  margin: 0 auto;
}

/* grid-image-item
------------------------- */

.grid-image-item,
.grid--images .grid-sizer { width: 33.33%; }

.grid-image-item {
  float: left;
}

.grid-image-item img {
  display: block;
  max-width: 100%;
}

/* grid-item
------------------------- */

.grid-item {
  float: left;
  width: 50px;
  height: 50px;
  background: #e6e5e4;
  border: 2px solid hsla(0, 0%, 0%, 0.4);
}

.grid-item--width2 { width: 100px; }
.grid-item--height2 { height: 100px; }

.grid-item--width3 { width: 150px; }
.grid-item--height3 { height: 150px; }

.grid-item--gigante {
  width: 150px;
  height: 200px;
}

.grid--clickable .grid-item:hover {
  border-color: #28F;
  background: #8CF;
  cursor: pointer;
}

/* ---- insert demo ---- */

.grid-item .number {
  line-height: 50px;
  text-align: center;
  color: #333;
  margin: 0;
  font-size: 1.3rem;
}

/* ---- fluid-5-col ---- */

.grid--fluid-5-col .grid-item,
.grid--fluid-5-col .grid-sizer { width: 20%; }

.grid--fluid-5-col .grid-item--width2 { width: 40%; }

/* ---- grid--masonry-gutter ---- */

.grid--has-gutter .grid-item--width2 {
  width: 110px;
}

/* ---- grid--masonry-gutter-bottom ---- */

.grid--masonry-gutter-bottom .grid-item {
  margin-bottom: 10px;
}

.grid--masonry-gutter-bottom .grid-item--height2 {
  height: 110px;
}

/* ---- grid--packery-gutter ---- */

.grid--packery-gutter .grid-item--width2 { width: 110px; }
.grid--packery-gutter .grid-item--height2 { height: 110px; }

/* ---- grid--fluid-gutter ---- */

.grid--fluid-gutter .grid-item,
.grid--fluid-gutter .grid-sizer {
  width: 22%;
}

.grid--fluid-gutter .gutter-sizer {
  width: 4%;
}

.grid--fluid-gutter .grid-item--width2 {
  width: 48%;
}

/* ---- masonry-horizontal ---- */

.grid--masonry-horizontal-gutter .grid-item--height2 {
  height: 110px;
}

/* ----  ---- */

.grid--masonry-horizontal-gutter-right .grid-item {
  margin-right: 10px;
}

.grid--masonry-horizontal-gutter-right .grid-item--width2 {
  width: 110px;
}

/* ---- cells-by-row-element-sizing ---- */

.grid--cells-by-row-element-sizing .grid-item {
  width: 13%;
}

.grid--cells-by-row-element-sizing .grid-item--width2 {
  width: 23%;
}

.grid--cells-by-row-element-sizing .grid-sizer {
  width: 25%;
  height: 110px;
}

/* ---- cells-by-column-element-sizing ---- */

.grid--cells-by-column-element-sizing .grid-item {
  height: 13%;
}

.grid--cells-by-column-element-sizing .grid-item--width2 {
  height: 23%;
}

.grid--cells-by-column-element-sizing .grid-sizer {
  height: 25%;
  width: 110px;
}

/* ---- fitrows-gutter ---- */

.grid--fit-rows-gutter .grid-item--width2 { width: 110px; }
.grid--fit-rows-gutter .grid-item--width3 { width: 170px; }

/* ---- filter blocks ---- */

.grid-item--filter-block-red,
.grid-item--filter-block-blue {
  width: 60px;
  height: 60px;
}

.grid--filter-blocks-large .grid-item--filter-block-red,
.grid--filter-blocks-large .grid-item--filter-block-blue {
  width: 80px;
  height: 80px;
}

.grid-item--filter-block-red { background: #D00; }
.grid-item--filter-block-blue { background: #19F; }

/* grid-splash-item
------------------------- */

.grid-splash-item {
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 20px;
  background: red;
  color: white;
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 1.0;
}

.grid-splash-item--width2 { width: 210px; }
.grid-splash-item--height2 { height: 210px; }

.grid-splash-item:nth-child(10n+0) { background: hsl(   0, 100%, 50%); }
.grid-splash-item:nth-child(10n+1) { background: hsl(  36, 100%, 50%); }
.grid-splash-item:nth-child(10n+2) { background: hsl(  72, 100%, 50%); }
.grid-splash-item:nth-child(10n+3) { background: hsl( 108, 100%, 50%); }
.grid-splash-item:nth-child(10n+4) { background: hsl( 144, 100%, 50%); }
.grid-splash-item:nth-child(10n+5) { background: hsl( 180, 100%, 50%); }
.grid-splash-item:nth-child(10n+6) { background: hsl( 216, 100%, 50%); }
.grid-splash-item:nth-child(10n+7) { background: hsl( 252, 100%, 50%); }
.grid-splash-item:nth-child(10n+8) { background: hsl( 288, 100%, 50%); }
.grid-splash-item:nth-child(10n+9) { background: hsl( 324, 100%, 50%); }

/* hero
------------------------- */


.hero__title {
  font-size: 4.6rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 0.1em;
}

.hero__tagline {
  font-size: 1.6rem;
  margin: 0 0 0.8em;
  line-height: 1.2;
}


/* ---- hero__big-button ---- */

.hero__big-button {
  display: block;
  position: relative;
  padding: 10px;
  font-size: 1.2rem;
  background: #161615;
  color: #FB4;
  border-radius: 8px;
  margin-bottom: 10px;
}

.hero__button-icon {
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.hero__button-icon path {
  fill: #FB4;
}

/* hover */
.hero__big-button:hover {
  background: #4FB;
  color: #222;
}

.hero__big-button:hover .hero__button-icon path {
  fill: #222;
}

/* ---- desktop ---- */

@media screen and ( min-width: 960px ) {

  .hero__title {
    font-size: 7.0rem;
  }

  .hero__tagline {
    font-size: 2.1rem;
  }

  /* buttons */

  .hero__big-button {
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 20px 20px;
    margin-bottom: 40px;
  }

}

/* in-use-grid
------------------------- */

.in-use-grid .grid-sizer,
.in-use-grid__item { width: 23.5%; }
.in-use-grid .gutter-sizer { width: 2%; }

.in-use-grid__item {
  background: #161615;
  float: left;
  margin-bottom: 20px;
  border-radius: 5px;
}

.in-use-grid__item__title {
  margin: 0;
  padding: 10px;
}

.in-use-grid__item__image {
  display: block;
  max-width: 100%;
  border-radius: 0 0 5px 5px;
}

/* nav
------------------------- */

.nav__title {
  float: left;
  margin: 0;
  line-height: 44px;
  font-size: 1.5rem;
}

.nav__title a {
  padding: 0 0.8em;
  display: block;
  color: #4FB;
}

.nav__title a:hover {
  background: #D26;
  color: white;
}

@media screen and ( min-width: 768px ) {

  .nav {
    position: absolute;
    left: 0;
    top: 39px;
    width: 200px;
  }

  .nav__title {
    line-height: 1.25;
    float: none;
    font-size: 2.0rem;
  }

  .nav__title a {
    padding: 7px 20px;
  }

  /* hide h1 on index */
  .page--index .nav__title {
    visibility: hidden;
  }

}

/* notification
------------------------- */

.notification {
  max-width: none;
  display: none; /* hide by default */
  position: fixed;
  z-index: 20; /* above most stuff */
  bottom: 0px;
  right: 0px;
  background: #A2C;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

@charset "UTF-8";

/* page-nav
------------------------- */

.page-nav {
  padding: 1.0em 10px;
  font-size: 0.8rem;
}

.page-nav__item {
  display: inline-block;
}

.page-nav__item:after {
  content: ' •';
  margin: 0 0.3em;
  opacity: 0.5;
}

.page-nav__item:last-child:after {
  content: none;
}

.page-nav a {
  color: #4BF;
}

.page-nav a:hover {
  color: #FB4;
}

@media screen and ( min-width: 768px ) {

  .page-nav {
    list-style: none;
    padding: 0;
    padding-top: 20px;
  }

  .page-nav.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
  }

  .page-nav__item {
    display: block;
    margin: 0;
  }

  .page-nav__item:after {
    content: none;
  }

  .page-nav__item a {
    display: block;
    padding: 3px 20px;
  }

   /* indent h3 and h4 items */
  .page-nav__item--h3 a,
  .page-nav__item--h4 a {
    padding-left: 30px;
  }

}

/* refactor-shirt
------------------------- */

.refactor-shirt {
  margin: 40px 0;
}

.refactor-shirt__title {
  font-size: 1.6rem;
}

.refactor-shirt__image {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 10px;
}

/* site-nav
------------------------- */

/* ---- site-nav ---- */

.site-nav {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

/* clear fix */
.site-nav:after {
  content: '';
  display: block;
  clear: both;
}

.site-nav__item {
  display: block;
  float: left;
  line-height: 44px; /* inline with title */
}

.site-nav__item__link {
  display: block;
  padding: 0 1.0em;
}

.site-nav__item__link:hover {
  background: #161615;
  color: white;
}

/* selected */
.page--filtering .site-nav__item--filtering .site-nav__item__link,
.page--sorting .site-nav__item--sorting .site-nav__item__link,
.page--layout .site-nav__item--layout .site-nav__item__link,
.page--layout-modes .site-nav__item--layout-modes .site-nav__item__link,
.page--options .site-nav__item--options .site-nav__item__link,
.page--methods .site-nav__item--methods .site-nav__item__link,
.page--events .site-nav__item--events .site-nav__item__link,
.page--draggable .site-nav__item--draggable .site-nav__item__link,
.page--license .site-nav__item--license .site-nav__item__link,
.page--extras .site-nav__item--extras .site-nav__item__link,
.page--faq .site-nav__item--faq a {
  color: #4Bf;
  background: #161615;
}

@media screen and ( min-width: 768px ) {

  .site-nav__item {
    float: none;
  }

  .site-nav__item {
    float: none;
    font-size: 1.1rem;
    line-height: 1.25;
  }


  .site-nav__item__link {
    padding: 7px 20px;
  }
  
}

/* sub-nav
------------------------- */

.sub-nav {
  display: none;
}

@media screen and ( min-width: 768px ) {

  .sub-nav-parent {
    position: relative;
    max-height: 2em;
  }

  .sub-nav {
    display: block; /* visible on desktop */
    position: absolute;
    left: 100%;
    top: 0;
    list-style: none;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: width 0.2s, opacity 0.2s;
    margin: 0;
    padding: 0;
  }

  .sub-nav-parent:hover .sub-nav {
    opacity: 1;
    width: 190px;
    z-index: 2; /* on top of stuff */
  }

  .sub-nav-parent:hover,
  .sub-nav {
    background: #161615;
  }

  .sub-nav-parent > a:after { content: '...'; }
  .sub-nav-parent:hover > a:after { content: none; }

  .sub-nav__item__link {
    display: block;
    padding: 5px 10px;
  }

  .sub-nav__item {
    font-size: 1.0rem;
  }
  

}

/* ui-group
------------------------- */

.ui-group {
  display: inline-block;
}

.ui-group__title {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 40px;
  margin: 0 10px 0 0;
  font-weight: bold;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

@charset "UTF-8";
/* variable
------------------------- */

.variable {
  margin: 0.5em 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: hsla(0, 0%, 100%, 0.1);
}

.variable__type {
  color: #ADF;
}

.variable__type,
.variable__description {
  margin-left: 10px;
}

.variable__type:before,
.variable__description:before {
  content: '·';
  padding-right: 0.4em;
  display: inline-block;
}

.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}
 
.color-shape.round {
  border-radius: 35px;
}
 
.color-shape.big.round {
  border-radius: 75px;
}
 
.color-shape.red { background: red; }
.color-shape.blue { background: blue; }
.color-shape.yellow { background: yellow; }
 
.color-shape.wide, .color-shape.big { width: 150px; }
.color-shape.tall, .color-shape.big { height: 150px; }

/* grid-multi-item
------------------------- */

.grid-multi-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
  border-color: hsla(0, 0%, 0%, 0.4);
}

.grid-multi-item[data-color="blue"] { background: #19F; }
.grid-multi-item[data-color="red"] { background: #D00; }
.grid-multi-item[data-color="yellow"] { background: #FD0; }

.grid-multi-item .number {
  font-size: 4.0rem;
  font-weight: 600;
  color: white;
  padding-top: 0.1em;
  text-align: center;
  line-height: 90px;
  margin: 0;
}

/* stamp
------------------------- */

.stamp {
  position: absolute;
  width: 30%;
  height: 60px;
  background: orange;
  border: 4px dotted #161615;
}

/* ---- stamp-option ---- */

.stamp--stamp-option-stamp1 {
  left: 30%;
  top: 10px;
  width: 20%;
  height: 100px;
}

.stamp--stamp-option-stamp2 {
  right: 10%;
  top: 20px;
  width: 70%;
  height: 30px;
}

.stamp--packery {
  right: 20%;
  top: 80px;
  width: 45%;
  height: 90px;
}

/* stamp-methods
------------------------- */

.grid--stamp-methods .grid-item {
  opacity: 0.8;
}

.stamp--stamp-methods {
  left: 10px;
  top: 10px;
}
/* vertical-list
------------------------- */

.vertical-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #484542;
  background: hsla(0, 0%, 0%, 0.15);
}

.vertical-list__item {
  width: 100%;
  border-top: 1px solid #484542;
}

.vertical-list__item > * {
  display: inline-block;
  padding: 3px 4px;
}

.vertical-list__item .name { width: 20%; }
.vertical-list__item .symbol { width: 10%; }
.vertical-list__item .weight { width: 15%; }
.vertical-list__item .number { width: 10%; }
.vertical-list__item .category { width: 25%; }
